#menu-overlay {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
}

#menu-dropdown.show {
    display: block;
}

#camera-distance-slider {
    width: 100%;
}
